html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #F4E9F3;
}

h1{
    text-align: center;
}

table{
    margin: 25px auto; 
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
thead tr {
    background-color: #FFB190;
    color: black;
    text-align: left;
}
thead tr th{
    background-color: #FFB190;
    color: black;
    text-align: left;
}
th, td{
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}
tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
tbody tr:last-of-type {
    border-bottom: 2px solid #000000;
}